button {
  margin-top: $gutter-width;
  margin-bottom: $gutter-width;
  padding-top: .2rem;
  padding-bottom: .2rem;
  font-size: .8rem;
}

a.button  {
  margin-bottom: $gutter-width;
  line-height: 1.4rem;
}

.btn[disabled]:not([disabled="false"]) {
  background-color: #808080;
  opacity: .5;
}


